#contact {
    background: white;
}

#contact h2 {
    padding: 2rem 0 0 0;
    color: #282c34;
    font-size: 30px;
}

.contact-form label {
    color: #999;
}

.contact-form input, .contact-form textarea {
    padding: 10px 12px;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    height: auto;
}